<template>
  <div
    class="
      bg-white
      border border-gray-300
      sticky
      bottom-0
      z-50
      py-6
      rounded-t-xl
      shadow-lg
    "
  >
    <div class="flex justify-center px-5">
      <div
        class="
          bg-gradient-to-r
          from-green-700
          to-blue-500
          px-16
          py-2
          rounded-lg
          text-white
        "
      >
        Kostenlos Registrieren
      </div>
    </div>
  </div>
</template>
