<template>
  <div
    class="
      bg-white
      border border-gray-300
      sticky
      top-0
      z-50
      py-6
      rounded-b-xl
      shadow-lg
    "
  >
    <div class="flex justify-end px-5">
      <div class="text-green-400">Login</div>
    </div>
  </div>
</template>
