<template>
  <div>
    <v-tabs v-model="tab">
      <v-tabs-slider style="background-color: transparent"></v-tabs-slider>
      <v-tab key="tab-1" class="border border-gray-400 rounded-l-lg"
        >Arbeitnehmer</v-tab
      >
      <v-tab class="border border-gray-400">Arbeitgeber</v-tab>
      <v-tab class="border border-gray-400 rounded-r-lg">Temporärbüro</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-card flat>
          <v-card-text style="padding: unset">
            <div class="text-center text-2xl text-black px-16 py-5">
              Drei einfache Schritte zu deinem neuen Job
            </div>
            <div class="mt-5">
              <div class="flex justify-center">
                <img :src="profile_data" />
              </div>
              <div class="flex items-end">
                <div class="text-9xl">1.</div>
                <div class="mb-1 ml-6 text-lg">Erstellen dein Lebenslauf</div>
              </div>
            </div>

            <div class="bg-blue-50 mt-24">
              <img class="top-wave" :src="wave" />
              <div class="flex items-end ml-7">
                <div class="text-9xl">2.</div>
                <div class="mb-1 ml-6 text-lg">Erstellen dein Lebenslauf</div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="task" />
              </div>
              <img class="bottom-wave" :src="wave" />
            </div>

            <div class="mt-10 mb-16">
              <div class="flex items-end ml-16">
                <div class="text-9xl">3.</div>
                <div class="mb-1 ml-5 mb-7 text-lg">
                  Mit nur einem Klick bewerben
                </div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="personal_file" />
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text style="padding: unset">
            <div class="text-center text-2xl text-black px-2 py-5">
              Drei einfache Schritte zu deinem neuen Mitarbeiter
            </div>
            <div class="mt-5">
              <div class="flex justify-center">
                <img :src="profile_data" />
              </div>
              <div class="flex items-end">
                <div class="text-9xl">1.</div>
                <div class="mb-1 ml-6 text-lg">
                  Erstellen dein Unternehmensprofil
                </div>
              </div>
            </div>

            <div class="bg-blue-50 mt-24">
              <img class="top-wave" :src="wave" />
              <div class="relative top-14 flex items-end ml-7">
                <div class="text-9xl">2.</div>
                <div class="mb-1 ml-6 text-lg">Erstellen ein Jobinserat</div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="about_me" />
              </div>
              <img class="bottom-wave" :src="wave" />
            </div>

            <div class="mt-10 mb-16">
              <div class="flex items-end ml-12">
                <div class="text-9xl">3.</div>
                <div class="mb-1 ml-5 mb-7 text-lg">
                  Wähle deinen neuen Mitarbeiter aus
                </div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="swipe_profiles" />
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text style="padding: unset">
            <div class="text-center text-2xl text-black px-2 py-5">
              Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
            </div>
            <div class="mt-5">
              <div class="flex justify-center">
                <img :src="profile_data" />
              </div>
              <div class="flex items-end">
                <div class="text-9xl">1.</div>
                <div class="mb-1 text-lg">
                  Erstellen dein Unternehmensprofil
                </div>
              </div>
            </div>

            <div class="bg-blue-50 mt-24">
              <img class="top-wave" :src="wave" />
              <div class="flex items-end ml-7">
                <div class="text-9xl">2.</div>
                <div class="mb-1 ml-6 text-lg">
                  Erhalte Vermittlungs- angebot von Arbeitgeber
                </div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="job_offers" />
              </div>
              <img class="bottom-wave" :src="wave" />
            </div>

            <div class="mt-16 mb-16">
              <div class="flex items-end ml-12">
                <div class="text-9xl">3.</div>
                <div class="mb-1 ml-5 mb-7 text-lg">
                  Erhalte Vermittlungs- angebot von Arbeitgeber
                </div>
              </div>
              <div class="mt-5 flex justify-center">
                <img :src="business_deal" />
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import profile_data from "../assets/profile_data.svg";
import task from "../assets/task.svg";
import personal_file from "../assets/personal_file.svg";
import about_me from "../assets/about_me.svg";
import swipe_profiles from "../assets/swipe_profiles.svg";
import job_offers from "../assets/job_offers.svg";
import business_deal from "../assets/business_deal.svg";
import wave from "../assets/wave.svg";

export default {
  data() {
    return {
      profile_data,
      task,
      personal_file,
      about_me,
      swipe_profiles,
      job_offers,
      business_deal,
      wave,
      tab: null,
    };
  },
};
</script>

<style lang="scss" scoped>
.v-tab {
  color: #81e6d9;
  &--active {
    color: white;
    background-color: #81e6d9;
    border: 1px solid #cbd5e0 !important;
  }
}

.top-wave {
  transform: scale(1, -1) rotate(180deg);
  position: relative;
  top: -65px;
}

.bottom-wave {
  transform: rotate(180deg);
  position: relative;
  bottom: -68px;
}

.sphere {
  display: block;
  background: black;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin: 0;
}
</style>
