<template>
  <div>
    <Header />
    <div class="bg-blue-50 pt-4">
      <div class="text-center text-5xl">Deine Job website</div>
      <img :src="agreement" />
    </div>
    <img class="wave" :src="wave" />
    <div class="mt-10">
      <Tabs />
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import agreement from "../assets/agreement.svg";
import Tabs from "../components/Tabs.vue";
import Footer from "../components/Footer.vue";
import wave from "../assets/wave.svg";

export default {
  components: {
    Header,
    Tabs,
    Footer,
  },
  data() {
    return {
      agreement,
      wave,
    };
  },
};
</script>

<style lang="scss" scoped>
.wave {
  position: relative;
  top: 0px;
  z-index: -10;
  transform: scale(1, -1);
}
</style>
